.mainPageBody {
    display: flex;
    height: 100%;
    gap: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.LeftSet {
    width: 25vw;
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-rows: 15% 85%;
}

.middleSet {
    width: 70%;
    height: 100%;
    background-color: #121212;
    border-radius: 7px;
    position: relative;
}

.rightSet {
    width: 25%;
    height: 100%;
    background-color: #121212;
    border-radius: 7px;
    padding: 20px;
    min-width: 280px
}

.mainMenu{
    height: 100%;
    width: 100%;
    background-color: #121212;
    border-radius: 7px;
    padding: 20px;
    display: grid;
}

.library {
    background-color: #121212;
    height: 100%;
    border-radius: 7px;
    padding: 20px;
    width: 25vw;
}


@media (width <= 1250px) {
    
    .libraryItemsMain, .ml_header, .libraryHeaderActions, .li_labelWrap, .menuLabel  {
        display: none;
    }

    .LeftSet, .library {
    width: 15vw;
    }
}