.mainPageBody {
    display: flex;
    height: 100%;
    gap: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.LeftSet {
    width: 25%;
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-rows: 15% 85%;
    overflow: hidden;
}

.middleSet {
    width: 70%;
    height: 100%;
    background-color: #666;
    border-radius: 7px;
}

.rightSet {
    width: 25%;
    height: 100%;
    background-color: #666;
    border-radius: 7px;
}

.mainMenu{
    height: 100%;
    width: 100%;
    background-color: #666;
    border-radius: 7px;
    padding: 20px;
    display: grid;
}

.library {
    background-color: #666;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    padding: 20px;
}
