.mainPageBody {
    display: flex;
    height: 100%;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 60px;
}

.LeftSet {
    width: 22vw;
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-rows: 20% 80%;
}

.middleSet {
    width: 56vw;
    height: 100%;
    background-color: #121212;
    border-radius: 7px;
    position: relative;
    min-width: 600px;
}

.rightSet {
    width: 22vw;
    height: 100%;
    background-color: #121212;
    border-radius: 7px;
    padding: 20px;
    min-width: 280px;
    padding-bottom: 90px;
    overflow-x: auto;
}

.mainMenu{
    height: 100%;
    width: 100%;
    background-color: #121212;
    border-radius: 7px;
    padding: 20px;
    display: grid;
    gap: 10px
}

.library {
    background-color: #121212;
    height: 100%;
    border-radius: 7px;
    padding: 20px;
    width: 22vw;
}


@media (width <= 1250px) {
    
    .libraryItemsMain, .ml_header, .libraryHeaderActions, .li_labelWrap, .menuLabel  {
        display: none;
    }

    .LeftSet, .library {
    width: 15vw;
    }

    .mc_bodyItemsMap {
        grid-template-columns: 1fr 1fr 1fr;
    }
}