.bi_image {
    width: 100%;
    background-color: bisque;
    border-radius: 10px;
}

.bi_main {
    width: 100%;
    display: grid;
    gap: 20px;
}

.bi_title {
    font-weight: bold;
    cursor: pointer;
}

.bi_subTitle {
    font-size: 18px;
    cursor: pointer;
}

.bi_title:hover,
.bi_subTitle:hover {
    text-decoration: underline;
}