.bi_image {
    width: 100%;
    background-color: bisque;
    border-radius: 10px;
}

.bi_main {
    width: 100%;
    display: grid;
    gap: 6px;
}

.bi_title {
    font-weight: bold;
}

.bi_subTitle {
    font-size: 18px;
}