.libraryHead {
    display: flex;
    align-items: center;
}

.libraryHeader {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.libraryHeaderActions{
    display: flex;
    align-items: center;
}

.libraryIcon {
    padding: 5px;
}

.libraryItemsMain {
    width: 100%;
    margin-top: 20px;
}

.libraryItemsMap {
    display: flex;
    gap: 15px;
    overflow-x: auto;
}

.libraryItem {
    padding: 10px;
    color: white;
    font-weight: bold;
    background: var(--buttonBackground);
    border-radius: 50px;
    font-size: 15px;
}

.libraryMain {
    margin-top: 20px;
}