.libraryHead {
  display: flex;
  align-items: center;
}

.libraryHeader {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.libraryHeaderActions {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.libraryIcon:hover {
  background-color: #212121
}

.libraryIcon {
  padding: 5px;
  cursor: pointer;
  border-radius: 20px;
}

.libraryItemsMain {
  width: 100%;
  margin-top: 20px;
}

.libraryItemsMap {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.libraryItem {
  padding: 10px;
  color: white;
  font-weight: bold;
  background: var(--buttonBackground);
  border-radius: 50px;
  font-size: 15px;
}

.libraryMain {
  margin-top: 20px;
}
