.li_image {
    width: 70px;
    height: 70px;
    background: aquamarine;
    border-radius: 10px;
}

.li_main {
    display: flex;
    gap: 15px;
    align-items: center;
}

.li_title {
    font-weight: bold;
    cursor: pointer;
}

.li_info {
    font-size: 15px;
    cursor: pointer;
}

.li_title:hover,
.li_info:hover{
    text-decoration: underline;
}
