.infoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;
}

.infoHeaderActions {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 10px
}

.infoTitle {
    font-weight: bold;
}

.infoHeaderIcon {
    padding: 5px;
    cursor: pointer;
    border-radius: 20px;
}

.infoHeaderIcon:hover {
    background-color: #212121
  }