.pmb_image {
    width: 100%;
    background-color: aquamarine;
}

.pmb_title {
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

.pmb_artist {
    font-size: 18px;
    cursor: pointer;
}

.pmb_artist:hover,
.pmb_title:hover{
    text-decoration: underline;
}